// https://mycolor.space/?hex=%231C2347&sub=1
// https://maketintsandshades.com/#CEA716,1c2347
$primary-color: #1C2347;
$primary-lighten-1: #333959;
$primary-darken-1: #192040;
// $secondary-color: #CEA716;
$secondary-color: #d8b945;
$secondary-lighten-1: #e7d38b;
$secondary-lighten-2: #faf6e8;
$secondary-darken-1: #d3b02d;
$error: #cc0000;
$error-lighten-1: #e68080;
$error-lighten-2: #fae6e6;
$info: #2196F3;
$info-lighten-1: #90cbf9;
$info-lighten-2: #e9f5fe;
$success: #4CAF50;
$success-lighten-1: #a6d7a8;
$success-lighten-2: #edf7ee;
$warning: #FB8C00;
$warning-lighten-1: #fdc680;
$warning-lighten-2: #fff4e6;

$grey: #c4c4c4;
$dark-grey: #757575;
$dark-grey-lighten-1: #bababa;
$dark-grey-lighten-2: #f1f1f1;
$dark-grey-darken-1: #696969;
$med-grey: #e2e2e2;
$light-grey: #f1f1f1;
$grey-text: #c9c9c9;