// CONTENT
.contract-content-wrapper {
    background-color: #f2f3f3;
    height: calc(100vh - 60px);
    overflow-y: scroll;

    & .text-caption {
        font-weight: 500;
        color: #1d9fca;
    }

    & a.plain-link {
        text-decoration: none;
        color: inherit;
    }
}


// TABLES
table {
    width: 100%;
    border-spacing: 0px;
    border-collapse:collapse;

    & thead > tr {
        border-bottom: 1px solid #eee;
        font-size: 0.75rem;
        font-weight: 500;
    }

    & tbody > tr {
        border-bottom: 1px solid #eee;
        font-size: 0.875rem;
        font-weight: 400;

        &:last-child {
            border-bottom: 0px;
        }
    }
    
    & td, th {
        padding: 8px 4px !important;
        // border-bottom: 1px solid #eee;
    }
    
    & .v-field {
        background-color: white;
    }
}


// BUTTON COMPONENTS
.fab-primary {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.fab-secondary {
    position: fixed;
    bottom: 2rem;
    right: 6rem;
}